######################## Ports ########################
PORT_API=6691
PORT_MOPIDY=6690
PORT_MPD=6610
PORT_SNAPSERVER_HTTP=1790
PORT_SNAPSERVER_1=1714
PORT_SNAPSERVER_2=1715
PORT_MYSQL=3380
PORT_PHPMYADMIN=5011

######################## Mopidy ########################

# Logging
LOGGING_CONFIG_FILE=/etc/mopidy/logging.conf
LOGGING_DEBUG_FILE=/var/log/mopidy/mopidy-debug.log

# Audio
AUDIO_OUTPUT=alsasink

# Spotify
SPOTIFY_USERNAME=xxx
SPOTIFY_PASSWORD=xxx
SPOTIFY_CLIENT_ID=xxx
SPOTIFY_CLIENT_SECRET=xxx

# Spotipy
SPOTIPY_REDIRECT_URI = http://localhost:${PORT_API}/api/spotipy_init
SPOTIPY_CLIENT_ID=xxx
SPOTIPY_CLIENT_SECRET=xxx

# HTTP
HTTP_ENABLED=true
HTTP_HOSTNAME=::
HTTP_PORT=6680

# MPD
MPD_HOSTNAME=::

# File
FILE_ENABLED=true
FILE_MEDIA_DIRS=/app/Music

# Local
LOCAL_ENABLED=true
LOCAL_MEDIA_DIR=/app/Music

# YouTube
YOUTUBE_ENABLED=true
YOUTUBE_API_KEY=xxx
YOUTUBE_API_ENABLED=true

# Podcast
PODCAST_ENABLED=true
PODCAST_BROWSE_ROOT=/etc/mopidy/podcast/Podcasts.opml

# Scrobbler
SCROBBLER_USERNAME=xxx
SCROBBLER_PASSWORD=xxx

# Beets
BEETS_ENABLED=false
BEETS_HOSTNAME=127.0.0.1
BEETS_PORT=8337

# IRControl
IRCONTROL_ENABLED=true
IRCONTROL_MUTE=KEY_MUTE
IRCONTROL_NEXT=KEY_NEXT
IRCONTROL_PREVIOUS=KEY_PREVIOUS
IRCONTROL_PLAYPAUSE=KEY_PLAYPAUSE
IRCONTROL_STOP=KEY_STOP
IRCONTROL_VOLUMEUP=KEY_VOLUMEUP
IRCONTROL_VOLUMEDOWN=KEY_VOLUMEDOWN


######################## o2m ########################
O2M_DISCOVER=false
O2M_API_RESULT_LIMIT=30
O2M_SHUFFLE=false
O2M_DEFAULT_VOLUME=70
O2M_DISCOVER_LEVEL=5
O2M_OPTION_AUTOFILL_PLAYLISTS=true
O2M_OPTION_ADD_RECO_AFTER_TRACK=true
O2M_API_PORT=${PORT_API}
O2M_BACKOFFICE_URI=http://localhost:5011/index.php?route=/sql&pos=0&db=o2m&table=box

# Database
DB_TYPE=mysql
DB_USERNAME=o2m
DB_PASSWORD=o2m
DB_HOST=mysql
DB_PORT=3306
DB_NAME=o2m

# Alternative for SQLite
# DB_TYPE=sqlite
# DB_SQLITE_PATH=data.db