# misc
spotipy
requests
mock
six
events
youtube-dl

#Mopidy
Mopidy-Iris #3.46.0
Mopidy-Local
Mopidy-Podcast
Mopidy-Spotify
Mopidy-Podcast-iTunes
Mopidy-TuneIn
Mopidy-YouTube
#Mopidy-Beets
#Mopidy-IRControl

# mopidy websocket client
mopidyapi

# database sqlite orm
peewee
PyMysql

# nfc tags
pyscard
