[Unit]
 Description=o2m
 After=mopidy.service

[Service]
 Type=simple
 WorkingDirectory=/home/pi/o2m/
 ExecStartPre=/bin/sleep 1
 ExecStart=/usr/bin/python3 -u main.py -m flask 
 StandardOutput=syslog+console
 StandardError=syslog+console
 Restart=always
 User=root

[Install]
 WantedBy=multi-user.target

