[Unit]
 Description=o2m
 After=mopidy.service

[Service]
 Type=idle
 WorkingDirectory=/home/pi/o2m/
 ExecStartPre=/bin/sleep 60
 ExecStart=/usr/bin/python3 -u main.py
 StandardOutput=syslog+console
 StandardError=syslog+console
 Restart=always
 User=root

[Install]
 WantedBy=multi-user.target
