[Unit]
 Description=o2m
 After=multi-user.target
 #After=network.target

[Service]
 Type=idle
 WorkingDirectory=/home/pi/o2m/
 ExecStart=/usr/bin/python3 -u main.py
 StandardOutput=inherit
 StandardError=inherit
 Restart=always
 User=pi

[Install]
 WantedBy=multi-user.target